
<%#= Arrow by Tahsin Tahil from <a href="https://thenounproject.com/browse/icons/term/arrow/" target="_blank" title="Arrow Icons">Noun Project</a> %>


<p>
  <%= link_to "My matelists", matelists_path %>
</p>
<p>
  <%= link_to "New", new_matelist_path %>
</p>
