<h1>Welcome to Matelister</h1>

<%= button_to "Sign in with Deezer", user_deezer_omniauth_authorize_path, method: :post, data: { turbo: false } %>
<%= button_to "Sign in with Spotify", user_spotify_omniauth_authorize_path, method: :post, data: { turbo: false } %>