<p style="color: red"><%= alert %></p>
<p style="color: green"><%= notice %></p>

<h1>New matelist</h1>

<%= render "form", matelist: @matelist %>

<br>

<div>
  <%= link_to "Back to matelists", matelists_path %>
</div>
